<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>
   <%- include('partials/navbar', {route:"/lego/sets"}) %>

   <div class="container mx-auto">
    <div class="hero bg-base-200 rounded-lg p-6">
      <div class="hero-content text-center">
        <div class="max-w-md">
          <h1 class="text-5xl font-bold">Collection</h1>
          <p class="py-6">Explore the entire collection. Filter your preference by choosing your theme:
              <ul>
                  <a href="/lego/sets?theme=Town" class="btn btn-primary btn-xs">Town</a>
                  <a href="/lego/sets?theme=DC Comics" class="btn btn-primary btn-xs">DC Comics</a> 
                  <a href="/lego/sets?theme=Spiderman" class="btn btn-primary btn-xs">Spiderman</a>
              </ul>
          </p>
        </div>
      </div>
    </div>


    <div class="overflow-x-auto overflow-y-hidden">
        <table class="table table-zebra">
          <tbody>
            <% for (const data of sets) { %>
                <tr>
                  <td>
                    <div class="avatar">
                      <img class="w-32 h-32 rounded-lg bg-transparent bg-no-repeat bg-cover" src="<%= data.img_url %>" alt="<%= data.name %>">
                    </div>
                  </td>
                  <td>
                    <td><%= data.name %> | <a class="btn mt-2 btn-xs" href="/lego/sets?theme=<%= data.theme %>"><%= data.theme %></a></td>
                  <td>
                    <span class="font-bold">Year: </span> <%= data.year %> - <span class="font-bold">Parts:</span> <%= data.num_parts %>
                  </td>
                  <td>
                    <a href="/lego/sets/<%= data.set_num %>" class="btn btn-xs">details</a>
                  </td>
                </tr>
              <% } %>              
          </tbody>
        </table>
      </div>
    </div>

</body>
</html>